@import url("https://fonts.googleapis.com/css2?family=Homenaje&family=IM+Fell+English+SC&display=swap");

/* font-family: 'Homenaje', sans-serif;
font-family: 'IM Fell English SC', serif; */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/img/bg-img.png");
  transition: opacity 0.75s, visibility 0.75s;
}
.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid papayawhip;
  border-top-color: darkseagreen;
  border-bottom-color: darkseagreen;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

:root {
  --yellow: #ccff00;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  color: white;
}
a {
  text-decoration: none;
}

.page-wrapper {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/img/bg-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 100px 0 100px;
  color: white;
  font-family: "Homenaje", sans-serif;
}
.container {
  padding: 20px;
  display: flex;
  width: 100%;
  height: 100%;
}
.row {
  display: flex;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
}

header.container {
  background-image: url(/img/landing-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.company {
  font-family: "IM Fell English SC", serif;
  font-size: 32px;
}

li {
  display: flex;
  justify-content: center;
  list-style: none;
  border-right: 2px solid rgba(255, 255, 255, 0.452);
  width: 100%;
  cursor: pointer;

  & a {
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      transform: scale(1.2);
      color: var(--yellow);
    }
    color: white;
  }
  &:last-of-type {
    border-right: none;
  }
}

select {
  background: transparent;
  color: white;
  border: none;
  &:focus {
    background: rgba(0, 0, 0, 0.8);
  }
}

.form-control-search {
  width: 70%;
}
.btn-outline-success {
  background-color: var(--yellow);
  color: black;
  border-radius: 30px;
  width: 80px;
  margin-left: 15px;
}

button.sign-in {
  background-color: #ccff00;
  border-color: var(--yellow);
  border-radius: 20px;
  padding: 2px 15px;
}
i.bi-globe-americas {
  color: #ccff00;
}

div.hero {
  margin-top: 200px;
  margin-bottom: 100px;
}

.yellow-font,
i.bi-calendar3 {
  color: #ccff00;
}

.movie-span {
  background-color: none;
  color: white;
  padding: 0 5px;
  border-radius: 4px;
  border: none;
}
.hd-span {
  border: 1px solid white;
  padding: 0 5px;
  border-radius: 4px;
}

button.play {
  border: 1px solid var(--yellow);
  background: transparent;
  color: white;
  border-radius: 15px;
  &.me-2 {
    border: none;
    color: var(--yellow);
    transform: scale(1.3);
  }
  & a {
    color: white;
  }
}

.bi-play-fill {
  transform: scale(1.3);
}

.streaming {
  color: var(--yellow);
  text-transform: uppercase;
}
.upcomming-types {
  gap: 30px;
}

.upcomming-type {
  padding: 5px 25px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 25px;
  font-size: 20px;
}

.carousel-item img {
  width: 200px;
}

.footer {
  background-color: black;
  color: var(--yellow);
  width: 100%;
  height: 100dvh;
  padding-left: 20px;
  padding-right: 20px;
}
.form-text-footer {
  color: var(--yellow);
}
.form-control {
  width: 20%;
  background-color: antiquewhite;
}
#submit-btn {
  border-radius: 10%;
  background-color: #ccff00;
  color: black;
}
.legal-stuff {
  border-left: 2px solid #ccff00;
  padding-left: 7px;
}

.delete-movie {
  cursor: pointer;
}

.trailer-player {
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 16/9;
  position: fixed;
}

.modal-title {
  background-color: black;
  border-radius: 5px;
  height: 10%;
  width: 100%;
  font-size: 25pt;
  color: #ccff00;
  padding-left: 8px;
}

.close {
  color: #ccff00;
  float: right;
  font-weight: bold;
  border: unset;
  background-color: black;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#save-changes {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 40%;
  font-weight: bold;
}
.input-group-text {
  background-color: #ccff00;
  border: 2px solid black;
}
.form-range {
  color: #ccff00;
  width: 200%;
}
.input-group {
  width: 30%;
}

#add-movie-popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1.5turn);
  }
}
